<footer class="top-level-footer">
  <h3>
    A little about me
  </h3>

  <section>
    <p>
      I’m curious about how people perceive technology — by night, I
      study human-computer interaction at UCL. By day, I’m a
      developer at Offset, the new offshoot studio at Moo, where we
      seek to solve problems around digital identity. Launching
      soon, we are currently working on Monogram.
    </p>
    <p>
      My current academic pursuits lie mainly under the umbrella topic
      user-centered design for programmers — please get in touch if
      you would like to collaborate on / supervise /provide
      inspiration for a related MSc project.
    </p>
  </section>

  <ul>
    <li>London</li>
    <li><a href="www.linkedin.com">LinkedIn</a></li>
    <li><a href="www.instagram.com/elisehein">Instagram</a></li>
    <li><a href="mailto:elisehein@gmail.com">elisehein@gmail.com</a></li>
  </ul>
</footer>

