<article class="single-post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="single-post__header">
    <h1 class="single-post__title">
      {% if include.linkable-title %}
      <a href="{{ include.object.url }}">{{ include.object.title }}</a>
      {% else %}
      {{ include.object.title }}
      {% endif %}
    </h1>
    <small class="single-post__meta">
      <a href="/blog">&#8592; Elise Hein</a>
      <time datetime="{{ include.object.date | date_to_xmlschema }}">
        {{ include.object.date | date: "%d.%m.%Y" }}
      </time>
    </small>
  </header>

  <div class="single-post__body">
    {% if page.theme %}
    <span class="single-post__theme">{{ page.theme }}<span class="single-post__theme__em">&mdash;</span></span>
    {% endif %}
    {{ include.object.content }}
  </div>

</article>
