<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <a class="post-link" href="{{ include.object.url | prepend: site.baseurl }}">{{ include.object.title }}</a>
    <h1 class="post-title" itemprop="name headline">{{ include.object.title }}</h1>
    <p class="post-meta"><time datetime="{{ include.object.date | date_to_xmlschema }}" itemprop="datePublished">{{ include.object.date | date: "%b %-d, %Y" }}</time>{% if include.object.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ include.object.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ include.object.content }}
  </div>

</article>
