// https://eager.io/blog/smarter-link-underlines/
@mixin smart-underline ($color, $background-color: white) {
  @include text-shadow-to-crop-underline($background-color);
  @include smart-underline-color($color, $background-color);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 95%, 100% 95%, 0% 95%;
  text-decoration: none;
  color: color;

  &:visited {
    color: $color;
  }

  &:before,
  &:after,
  *,
  *:before,
  *:after {
    text-shadow: none;
  }

  $selection-color: #b4d5fe;

  &::selection,
  &::-moz-selection {
    @include text-shadow-to-crop-underline($selection-color);
    background: $selection-color;
  }
}

@mixin smart-underline-color ($color, $background-color: white) {
  background-image: linear-gradient($background-color, $background-color),
                    linear-gradient($background-color, $background-color),
                    linear-gradient($color, $color);
}

@mixin text-shadow-to-crop-underline ($color) {
  text-shadow: .03em 0 $color, -.03em 0 $color, 0 .03em $color, 0 -.03em $color, .06em 0 $color, -.06em 0 $color, .09em 0 $color, -.09em 0 $color, .12em 0 $color, -.12em 0 $color, .15em 0 $color, -.15em 0 $color
}
