$ms-base: 14px;
$baseline: 11px;

$text-color: #333;

$color-yellow: rgb(255, 251, 206);
$color-blue: #112BDC;

$font-serif-display: "Mercury Display A", "Mercury Display B", "Adobe Garamond Pro", Garamond, Georgia, "Times New Roman", serif;
$font-serif: "Mercury SSm A", "Mercury SSm B", "Adobe Garamond Pro", Garamond, Georgia, Times, "Times New Roman", serif;
$font-serif-sc: "Mercury SSm Small Caps A", "Mercury SSm Small Caps B";;
$font-sans-serif: "Karla", sans-serif;
