@import "vendor/modular-scale";
@import "mixins";
@import "variables";

.single-post {
  $line-height: 2 * $baseline;

  $content-width: 520px;
  $side-margin-left: 0;
  $side-margin-right: -($content-width / 3);
  $block-indent: 40px;
  $paragraph-spacing: 2 * $baseline;
  $element-spacing: 5 * $baseline;

  margin: 26vmin 0 (18 * $baseline) 32vmin;
  max-width: $content-width;
  font-size: ms(0);
  line-height: $line-height;

  &__header {
    margin-bottom: 10 * $baseline;
  }

  &__title {
    margin-bottom: $baseline;
    font-family: $font-serif-display;
    font-size: ms(2);
    line-height: 4 * $baseline;

    a {
      text-decoration: none;

      &:hover {
        @include smart-underline($color-text);
      }
    }
  }

  &__meta {
    font-family: $font-sans-serif;
    font-size: 1.1em;

    a {
      text-decoration: none;
      margin-right: 10px;

      &:hover {
        @include smart-underline($color-text);
      }
    }
  }

  h2 {
    margin-top: $element-spacing;
    margin-bottom: $paragraph-spacing;
    font-family: $font-serif-display;
    font-size: ms(1);
    line-height: 3 * $baseline;
  }

  a {
    color: inherit;

    &.reversefootnote {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__body a {
    text-decoration: none;
    @include smart-underline(rgba($color-text, 0.5));

    &:hover {
      @include smart-underline-color($color-text);
    }
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }

  // TODO
  code {
    font-family: monospace;
  }

  p,
  ul,
  ol,
  li {
    margin-bottom: $paragraph-spacing;
  }

  blockquote,
  pre,
  img,
  .gist {
    margin: $element-spacing
            $side-margin-right
            $element-spacing
            $side-margin-left;
  }

  img {
    width: calc(100% + #{-$side-margin-left - $side-margin-right});
  }

  blockquote {
    font-size: 18px;
    line-height: 3 * $baseline;
  }

  ol {
    list-style: decimal;
  }

  ul {
    position: relative;
  }

  ol,
  ul {
    margin-left: $block-indent;

    &.condensed li {
      margin-bottom: 0;
    }

    blockquote {
      margin-left: $side-margin-left - $block-indent;
    }
  }

  ul li:before {
    content: "\00B7";
    position: absolute;
    left: -15px;
  }

  // https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/
  sup {
    position: relative;
    top: -0.4em;
    vertical-align: baseline;
    font-size: smaller;
  }

  .fs-sc {
    font-family: $font-serif-sc;
    font-weight: 300;
    text-transform: lowercase;
  }

  &__theme {
    float: left;
    font-family: $font-sans-serif;
    text-transform: uppercase;
    font-size: 1.1em;

    &__em {
      display: inline-block;
      padding: 0 10px;
      transform: scaleX(2.2);
    }

    .fs-sc {
      font-family: inherit;
      font-weight: inherit;
      text-transform: inherit;
    }
  }
}
